/* bases css */

@import 'vars';
@import 'mixins';
@import 'buttons';

body,
html{
	min-height: 100%;
}

body {	
	font-family: $font-base;
	font-size: 15px;
	line-height: 1.5;
	color: $color-base;
	background:#fff;
	overflow-x: hidden;
}

.wrapper {
	width: 1240px;	
	margin: auto;
}

.wrapper-bg {
	min-width: 1300px;
	max-width: 1920px;
	min-height: 100vh;
	margin: auto;
	display: flex; 
	flex-direction: column;

}

.main{
	flex-grow: 1;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover, 
	&:active, 
	&:focus{	
		text-decoration: none;
		color: inherit;	
		outline: none;
	}
}

p{
	margin: 17px 0;
}

select, 
button {
	&:focus, 
	&:active{outline: none;border: none;}	
}

button, 
button:focus{ background: none; border: none;}


.default__title{
	font: 45px $font-accent;
	text-align: center;
	margin: 60px 0 75px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		bottom: -30px; 
		width: 147px;
		height: 24px;
		background:url('/images/icons/title-figure.png') center center no-repeat;
		transform: translateX(-50%);
	}

	&--upper{
		text-transform: uppercase;
	}
}

.default__block{
	padding-bottom: 80px;
}

.default-button-wrap{
	display: flex; 
	justify-content: center;
	margin-top: 50px;
}