/* buttons css */

.btn{
	padding: 9px 50px;
	outline: none;		
	font-family: $font-accent;
	position: relative;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .4s;

	&--yellow{
		background:$color-accent;
		color: #fff;
		&:after,
		&:before {
			content: '';
			position: absolute;			
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 5px;
		}
		&:after{
			background:url('/images/icons/border-top-white.png') center center no-repeat;
			top: -6px;
		}
		&:before{
			background:url('/images/icons/border-bottom-white.png') center center no-repeat;
			bottom: -6px;
		}

		&:hover{
			background:transparent;
			color: #000;
		}
	}

	&--big{
		font-size: 24px;				
	}

	&--more{
		display: inline-block;
		width: 56px;
		height: 13px;
		background:url('/images/icons/link-arrow.png') center center no-repeat;
		&:hover{
			background:url('/images/icons/link-arrow-hover.png') center center no-repeat;
		}
	}



	&--light{
		background: transparent;
		color: #000;
		padding: 9px 30px;
		&:after,
		&:before {
			content: '';
			position: absolute;			
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 5px;
		}
		&:after{
			background:url('/images/icons/border-top-yellow.png') center center no-repeat;
			top: -6px;
		}
		&:before{
			background:url('/images/icons/border-bottom-yellow.png') center center no-repeat;
			bottom: -6px;
		}
		&:hover{
			background:$color-accent;
			color: #fff;
		}
	}
	

}