

/* Fonts */

$font-base: 'rubik_regular', 'arial', sans-serif;
$font-bold: 'rubik_bold';
$font-light: 'rubik_light';
$font-medium: 'rubik_medium';
$font-accent: 'ttlimesslab_regular';
$font-grunge: 'stampbor_grunge_russian';

@include font-face("rubik_regular", '../fonts/rubik_regular', $file-formats: otf ttf);
@include font-face("rubik_bold", '../fonts/rubik_bold', $file-formats: otf ttf);
@include font-face("rubik_light", '../fonts/rubik_light', $file-formats: otf ttf);
@include font-face("rubik_medium", '../fonts/rubik_medium', $file-formats: otf ttf);
@include font-face("ttlimesslab_regular", '../fonts/ttlimesslab_regular', $file-formats: otf ttf);
@include font-face("stampbor_grunge_russian", '../fonts/stampbor_grunge_russian', $file-formats: otf ttf);



/* Colors */

$color-base: #000000;
$color-accent: #F29D00;


