.page-404-wrap{
	display: flex;
	justify-content: center;
  padding: 95px 0 200px;
}

.page-404{
	transform: translateX(28px);
}

.page-404__button{
	margin-top: 30px;
	position: relative;
	&:after{
		content: '';
		width: 161px;
		height: 118px;
		position: absolute;
		bottom: -88px;
		right: -103px;
		background:url('/images/icons/lobster.png') center center no-repeat;
	}
}