.address__title{
	margin-top: 20px;
}

.address-wrap{
	display: flex;
}

.address-shops{
	display: flex;
	flex-direction: column;
}

.address-shops__item{
	display: flex;
	justify-content: space-between;
}

.address-shops__text{
	margin-bottom: 40px;
}

.address-shops__street{
	font: 16px $font-bold;
}

.address-shops__phone{
	font: 30px $font-accent;
}

.address-slider{
	width: 600px;
    position: relative;
	margin-right: 40px;
	.address-slide__item{
		height: 390px;
		position: relative;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat; 
		&__describe{			
			display: flex;
			position: absolute;
			align-items: center;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 68px;
			background:rgba(black, .5);
			font: 16px $font-medium;
			color: #fff;
			line-height: 41px;
			padding: 0 25px;
		}
	}

    .gallery-top {
        height: 390px;
        width: 600px;
    }
    .gallery-thumbs {
        width: 440px!important;
        height: 120px;
        box-sizing: border-box;
        padding-top: 30px;
        padding-bottom: 10px;
        position: static;

        .address-slide__item{
        	height: 100%;
        }
        .swiper-slide {
        	height: 100%;      
		}
        .swiper-wrapper{
            margin-left:calc(-50% + 73.5px);
        }
    }
    
    .gallery-thumbs .swiper-slide-active {
        border: 3px solid $color-accent;
    }

    .swiper-button-prev{
    	width: 56px;
    	height: 13px;
    	top: auto;
        left: 0;
        bottom: 40px;
    	background: url('/images/icons/pagination-prev.png');
    	&:hover{
    		background: url('/images/icons/pagination-prev-hover.png');
    	}
    }

    .swiper-button-next{
    	width: 56px;
    	height: 13px;
    	top: auto;
        right: 0;
        bottom: 40px;
    	background: url('/images/icons/link-arrow.png');
    	&:hover{
    		background: url('/images/icons/pagination-next-hover.png');
    	}
    }

}

.address-map__item{
    border: 2px solid #ccc;
	height: 355px;
}