.assortment__title{
	margin-top: 20px;
}

.assortment-wrap{
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}

.assortment-item__content{
	display: flex;
	flex-direction: column;
}

.assortment-item{
	display: flex;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid $color-accent;
}


.assortment-item__name{
	font: 40px $font-accent;
	margin-bottom: 15px;
}

.assortment-item__title{
	display: flex;
	flex-direction: column;
}

.assortment-item__type{
	font: 18px $font-medium;
	color: #666;
}

.assortment-item__text{
	display: flex;
	margin: 20px 0;
}

.assortment-item__consist{
	display: flex;
	flex-direction: column;
	font: 18px $font-medium;
	line-height: 29px;
}

.assortment-item__price{
	display: flex;
	flex-direction: column;
	width: 130px;
	align-items: flex-end;
	flex-shrink: 0;	
	font-family: $font-accent;
	line-height: 39px;
	margin-top: 30px;
}

.assortment-item__number{
	font-size: 72px;
	margin-bottom: 5px;
}

.assortment-item__img{
	margin-right: 50px;
	padding-left: 50px;
}

.assortment-item__currency{
	font-size: 32px;
}

.assortment-nav{
	width: 283px;
	position: relative;
	flex-shrink: 0;
	margin-right: 40px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font: 27px $font-accent;
	line-height: 1;
	&:after,
	&:before{
		content: '';
		position: absolute;
		width: 278px;
		height: 25px;
		background:url('/images/icons/aside-figure.png') center center no-repeat;
		left: 0;
	}
	&:after{
		bottom: -45px;
	}
	&:before{
		top: -45px;
	}

	a{
		display: block;
		padding: 8px 20px;
		border-bottom: 1px solid #ccc;		
		transition: background-color .25s;
		&:hover{
			background:$color-accent;
			color:#fff;
			border-bottom: 1px solid $color-accent;
		}
	}

	.ui-state-active{
		position: relative;
		background:#F8F8F8;		
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 12px;
			@include triangle(15px, $color-accent, up);
		}
		&:hover:after{
			@include triangle(15px, #fff, up);
		}
	}

	.ui-accordion-header-collapsed{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 12px;
			@include triangle(15px, $color-accent, down);
		}
		&:hover:after{
			@include triangle(15px, #fff, down);
		}
	}
}

.assortment-nav__dropdown{
	font-size: 24px;
	padding-left: 15px;
	border-bottom: 1px solid #ccc;
	a{
		border: none;
		&:hover{
			border-bottom:none;
		}
	}

}

.default-content-block{
	width: 85%;
}

.default-content-block__title{
	font: 36px $font-accent;
	margin-bottom: 25px;
}