.delivery{
	padding-bottom: 110px;
}

.delivery-wrap{
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
}

.delivery__title{
	@extend .news__title;
}

.delivery-item{
	display: flex;
	align-items: center;
	width: 33%;

	&__icon{
		margin-right: 20px;
	}

	&__text{
		font: 30px $font-accent;
		line-height: 34px;
	}
}

.delivery-content{
	width: 85%;
	font-size: 15px;
	line-height: 23px;
}
