.discount-wrap{
	@extend .news-wrap;
}

.discount__title{
	@extend .news__title;
}

.discount-card{
	width: 32%;
	margin-bottom: 40px;
}

.discount-card__date{
	@extend .news-card__date;
}

.discount-card__title{
	font: 32px $font-grunge;
	line-height: 36px;
	transition: all .25s;
}

.discount-card__text{
	width: 90%;
	color: #333;
	font: 14px $font-medium;
	line-height: 23px;
}