// block slider
.slider{
	height: 690px;
	width: 100%;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: -4px;
		left:0;
		width: 100%;
		height: 44px;
		background:url('/images/slider-bottom.png') bottom center no-repeat;
		z-index: 3;
	}
}

.slide-item{
	height: 690px;	
}

.slide-button{
	margin-top: 60px;
	.btn--yellow{
		transition: all .4s;
		background:rgba($color-accent, .93);
		&:hover{ background:transparent;color: #000;}
	}	
}

.slider-item-1{
	background:url("/images/slide1.jpg") top center no-repeat;
	background-size: cover;

}

.slide-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 170px;
}

.slide-card{
	position: relative;
	width: 482px;
	padding: 30px 65px;	
	color: #fff;
	background:rgba(black,.77);
	z-index: 2;

	&:before{
		content: '';
		width: 92px;
		height: 53px;
		position: absolute;
		display: block;
		left: -40px;
		top: 50%;
		transform: translateY(-50%);
		background:url('/images/icons/slide-figure-left.png') center center no-repeat;
		z-index: 0;		
	}

	&:after{
		content: '';
		width: 92px;
		height: 53px;
		position: absolute;
		display: block;
		right: -40px;
		top: 50%;
		transform: translateY(-50%);
		background:url('/images/icons/slide-figure-right.png') center center no-repeat;
		z-index: 0;		
	}

	&__text{
		font: 90px $font-grunge;
		line-height: 65px;
		text-transform: uppercase;
		letter-spacing: 2.2px;
		&--small{
			display: block;
			font: 50px $font-accent;
					
		}
	}	
}

.owl-nav{
	position: relative;
  width: 1240px;
  top: -372px;
  left: 50%;
  transform: translateX(-50%);
}

.owl-prev,
.owl-next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.owl-prev{
	left: 0;
}

.owl-next{
	right: 0;
}

.owl-dots{
	position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.owl-dot{
	width: 9px;
	height: 9px;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 50%;
	margin-right: 10px;
	&.active{
		background:$color-accent;
		border: 2px solid $color-accent;
	}
}


// block assortment

.assortment-items{
	display: flex;
	justify-content: space-between;
}

.assortment{
	.default__title:before{
		display: none;
	}

	&_title{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			top: -35px; 
			width: 147px;
			height: 24px;
			background:url('/images/icons/title-figure.png') center center no-repeat;
			transform: translateX(-50%);
		}
	}
}

.assortment-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.assortment-title{
	display: block;
	font: 18px $font-medium;
	margin: 20px 0;
}

.assortment-describe{
	width: 90%;
}

// block info
.info{
	padding: 50px 0 70px;
	background:url('/images/pattern-bg.png') top center no-repeat;
	background-size: cover;
	
	&__title{
		margin-top: 30px;
	}

	&-cards{
		display: flex;
		justify-content: space-between;
	}

	&-tagline{
		font: 30px $font-accent;
		color: $color-accent;
		text-align: center;
		line-height: 1;		
	}
}

.info-about,
.info-news{
	width: 40%;
	padding:50px;
	padding-top: 0;
	background:rgba(#fff, .92);
}

.info-news{
	&-item{
	
	&:hover{
		.info-news-item__text{
			color: $color-accent;
			text-decoration: underline;			
		}
		.btn--more{			
			background:url('/images/icons/link-arrow-hover.png') center center no-repeat;			
		}
	}
	&__date{
		font-size: 12px;
		color: #999;
	}

	&__text{
		display: inline-block;
		font: 24px $font-accent;
		margin-top: 0;
		line-height: 30px;
		transition: all .25s;
			
	}
	&__link{
		text-align: right;		
	}
}
}

