.news__title{
	margin-top: 20px;
}

.news-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news-card{
	width: 23%;
	margin-bottom: 40px;

	&__date{
		margin-top: 10px;
		font-size: 12px;
		color: #999;
	}

	&__title{
		margin: 20px 0;
		font: 24px $font-accent;
		line-height: 32px;
		transition: all .25s;
		&:hover{
			color: $color-accent;
			text-decoration: underline;
		}
	}

	&__text{
		font-size: 14px;
		line-height: 23px;
	}
}

