.news-item-wrap{
	margin-top: 45px;
	margin-bottom: 120px;
}

.news-item{
	margin-bottom: 65px;
}

.news-item__img{
	float: left;	
	img{
		max-width: 600px;
		margin-right: 37px;
		margin-bottom: 37px;
	}
}

.news-item__title{
	font: 42px $font-accent;
	margin-bottom: 20px;
}

.news-item__date{
	@extend .news-card__date;
}

.news-item__content{
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 30px;
}

.news-item__button{
	display: flex;
	justify-content: center;
}