extends template/template

block content

	.page-404-wrap
		.page-404
			.page-404__logo
				img(src="/images/404.png", alt="404")
			.page-404__button
				a(href="#").btn.btn--light начать просмотр с главной страницы.
