extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Адреса магазинов
	//END breadcrumbs
	//BEGIN discount
	.address.default__block
		.wrapper
			.address__title.default__title.default__title--upper
				h1 Адреса магазинов
			.address-wrap
				.address-slider
					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/address-slider.jpg')")
									.address-slide__item__describe
										span Небольшая подпись к фото
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/single-news-img.jpg')")
									.address-slide__item__describe
										span Небольшая подпись к фото
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/news-card-img-5.jpg')")
									.address-slide__item__describe
										span Небольшая подпись к фото

							.swiper-slide
								.address-slide__item(style="background-image: url('/images/news-card-img-7.jpg')")
									.address-slide__item__describe
										span Небольшая подпись к фото


					.swiper-container.gallery-thumbs
						.swiper-wrapper
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/address-slider.jpg')")
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/single-news-img.jpg')")
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/news-card-img-5.jpg')")
							.swiper-slide
								.address-slide__item(style="background-image: url('/images/news-card-img-7.jpg')")
						.swiper-button-next
						.swiper-button-prev

				.address-shops
					.address-shops__text
						p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
						p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
					.address-shops__item
						.address-shops__street
							span ул. Пушкина, д. 3
						.address-shops__phone
							span +7 (915) 742-78-35

					.address-shops__item
						.address-shops__street
							span ул. Карла Маркса, д.5, стр.4
						.address-shops__phone
							span +7 (915) 742-78-35

			.address-map
				.address-map__title.default__title
					span ул. Пушкина, д.3
				#js-map-1.address-map__item
			
			.address-map
				.address-map__title.default__title
					span ул. Карла Маркса, д.5, стр.4
				#js-map-2.address-map__item







