extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Ассортимент
	//END breadcrumbs
	
	.default__block
		.wrapper
			.default__title.assortment__title.default__title--upper
				h1 Ассортимент
			.assortment-wrap
				ul.assortment-nav
					li.js-accordion
						a(href="#") Разливное пиво
						ul.assortment-nav__dropdown
							li: a(href="#") Темное пиво
							li: a(href="#") Светлое пиво
					li: a(href="#") Бутылочное пиво
					li.js-accordion
						a(href="#") Безалкогольные напитки
						ul.assortment-nav__dropdown
							li: a(href="#") Темное пиво
							li: a(href="#") Светлое пиво
					li: a(href="#") Снэки
				.assortment-catalog
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-1.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span «Жигулевское»
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 78
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-2.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span Guinness Draught
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 107
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-3.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span Лидское Тёмное Бархатное
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 275
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					//BEGIN pagination
					.pagination					
						.pagination-inset
							a(href="#").pagination-inset__prev
							span.pagination-inset__active 1
							a(href="#").pagination-link.pagination-inset__page 2
							a(href="#").pagination-link.pagination-inset__page 3
							a(href="#").pagination-link.pagination-inset__page 4
							a(href="#").pagination-link.pagination-inset__page 5
							a(href="#").pagination-inset__next
				//END pagination

			.default-content-block
				.default-content-block__title
					h2 Пиво настоящее, вкусное, крафтовое - это его основное достоинство!
				.default-content-block__text
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.

					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций. 

					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.