extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Доставка
	//END breadcrumbs
	//BEGIN delivery
	.delivery.default__block
		.wrapper
			.delivery__title.default__title.default__title--upper
				h1 Доставка
			.delivery-wrap
				.delivery-item
					.delivery-item__icon
						img(src="/images/icons/delivery-icon-1.png", alt="")
					.delivery-item__text
						span Минимальная сумма заказа 400 руб.
				.delivery-item
					.delivery-item__icon
						img(src="/images/icons/delivery-icon-2.png", alt="")
					.delivery-item__text
						span Время работы <br/> с 11 до 23 ежедневно!
				.delivery-item
					.delivery-item__icon
						img(src="/images/icons/delivery-icon-3.png", alt="")
					.delivery-item__text
						span Для заказа позвоните по номеру <br/> +7 (000) 111-22-33
			.delivery-content
				p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.

				p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.