extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Акции
	//END breadcrumbs
	//BEGIN discount
	.discount.default__block
		.wrapper
			.discount__title.default__title.default__title--upper
				h1 Акции
			.discount-wrap
				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-1.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span Камчатский краб атакует!
					.discount-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского

				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-2.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.discount-card__text
						p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место

				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-3.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span Бутолочное пиво "Василеостровской" пивоварни!
					.discount-card__text
						p Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.

				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-4.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span Камчатский краб атакует!
					.discount-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского

				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-5.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.discount-card__text
						p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место

				.discount-card
					.discount-card__img
						img(src="/images/discount-card-img-6.jpg", alt="news-img")
					.discount-card__date
						span 13.03.2017
					.discount-card__title
						span В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.discount-card__text
						p Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.