extends template/template

block content

	//BEGIN slider
	
	#js-slider.slider.owl-carousel		
		.slider-item-1.slide-item
			.wrapper
				.slide-content
					.slide-card
						span.slide-card__text Купи 2 литра любого пива
						small.slide-card__text--small и получи гренки в подарок!
					.slide-button
						a(href="#").btn.btn--big.btn--yellow Подробнее

		.slider-item-1.slide-item
			.wrapper
				.slide-content
					.slide-card
						span.slide-card__text Купи 2 литра любого пива
						small.slide-card__text--small и получи гренки в подарок!
					.slide-button
						a(href="#").btn.btn--big.btn--yellow Подробнее
	//END slider

	//BEGIN assortment
	.assortment.default__block
		.wrapper
			.default__title.assortment_title.default__title--upper
				span Наш ассортимент
			.assortment-items
				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon1.png", alt="assortment")
					span.assortment-title Разливное пиво					 
					p.assortment-describe Более 30 сортов разливного пива

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon2.png", alt="assortment")
					span.assortment-title Бутылочное пиво					 
					p.assortment-describe Более 20 сортов бутылочного пива

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon3.png", alt="assortment")
					span.assortment-title Закуски и снеки				 
					p.assortment-describe Рыбка, чипсы, арахис и др.

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon4.png", alt="assortment")
					span.assortment-title Безалкогольные напитки				 
					p.assortment-describe Квас, лимонад
			.default-button-wrap
				a(href="#").btn.btn--light Весь ассортимент

	//END assortment

	//BEGIN info
	
	.info.default__block
		.wrapper
			.info-cards
				.info-about
					.info__title.default__title						
						span О магазине
					.info-text
						p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
						p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
						
					.info-tagline
						p Совместное распитие пива – вот что делает мужскую дружбу прочной, как сталь!
					.default-button-wrap
						a(href="#").btn.btn--light Адреса магазинов
				.info-news
					.info__title.default__title 
						span Новости
					.info-news-wrap
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text «ОПОРА России»: после поправок к закону «О торговле» наценка ритейлеров увеличилась почти в 2 раза
							.info-news-item__link
								a(href="#").btn--more
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
							.info-news-item__link
								a(href="#").btn--more
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text Закон о запрете скидок на алкоголь – позиции заинтересованных сторон
							.info-news-item__link
								a(href="#").btn--more
					.default-button-wrap
						a(href="#").btn.btn--light Все новости


	//END info