extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Новости
	//END breadcrumbs
	//BEGIN news
	.news.default__block
		.wrapper
			.news__title.default__title.default__title--upper
				h1 Новости
			.news-wrap
				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-1.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") Камчатский краб атакует!
					.news-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-2.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.news-card__text
						p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает
				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-3.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.news-card__text
						p Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-4.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") Камчатский краб атакует!
					.news-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-5.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") Камчатский краб атакует!
					.news-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-6.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.news-card__text
						p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-7.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
					.news-card__text
						p Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.

				.news-card
					a(href="#").news-card__img
						img(src="/images/news-card-img-8.jpg", alt="news-img")
					.news-card__date
						span 13.03.2017
					.news-card__title
						a(href="#") Камчатский краб атакует!
					.news-card__text
						p В меню появился камчатский краб !!! На выбор клешни, плечо и кулаки !!! Химический состав краба камчатского
		//END news
		//BEGIN pagination
		.wrapper
			.pagination
				.pagination-inset
					a(href="#").pagination-inset__prev
					span.pagination-inset__active 1
					a(href="#").pagination-link.pagination-inset__page 2
					a(href="#").pagination-link.pagination-inset__page 3
					a(href="#").pagination-link.pagination-inset__page 4
					a(href="#").pagination-link.pagination-inset__page 5
					a(href="#").pagination-inset__next
		//END pagination