extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				a(href="#").breadcrumb-inset__link Новости
				span.breadcrumbs-inset__active Пиво "Василеостровской" пивоварни!
	//END breadcrumbs
	//BEGIN news_item	
	.wrapper
		.news-item-wrap
			.news-item
				.news-item__img
					img(src="/images/single-news-img.jpg", alt="")
				.news-item__title
					h1 В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
				.news-item__date
					span 13.03.2017
				.news-item__content
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса. Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
				.news-item__button
					a(href="#").btn.btn--light Все новости

			.news-item
				.news-item__img				
				.news-item__title
					h1 В продаже появилось бутолочное пиво "Василеостровской" пивоварни!				
				.news-item__date
					span 13.03.2017
				.news-item__content
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					
				.news-item__button
					a(href="#").btn.btn--light Все новости
			