doctype
html
	head
		meta(charset = 'utf-8')
		meta(name="description" content="Aidar FrontEnd")
		meta(name="author" content="Aidar")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="/css/vendor.min.css")
		link(rel="stylesheet" href="/css/common.min.css")
		title Beer
	body
		//BEGIN preloader
		#js-preloader.preloader
			.preloader__spinner
		//END preloader

		// BEGIN header
		.wrapper-bg
			header.header
				.wrapper
					.header-top
						span.header-worktime Время работы ПН-ВС с 11 до 23 ч.
						.header-social
							a(href="#" target="_blank").header-social__logo.insta
							a(href="#" target="_blank").header-social__logo.ok
							a(href="#" target="_blank").header-social__logo.vk
							a(href="#" target="_blank").header-social__logo.facebook
						span.header-phone +7 (915) 742-78-35
					ul.header-nav
						li: a(href="/") Главная
						li: a(href="/") Ассортимент
						li: a(href="/") Адреса магазинов
						li: a(href="/") Акции
						li: a(href="/") Новости
						li: a(href="/") Доставка
					.header-logo
						img.header-logo__img(src="/images/logo.png", alt="Логотип")						
			//END header

			// BEGIN main
			.main
				block content
			// END main

			// BEGIN footer
			
			footer.footer
				.wrapper
					.footer-wrap
						.footer-old
							img.footer-old__icon(src="/images/icons/18+.png", alt="18+")
						ul.footer-nav
							li: a(href="#ask-1").popup-with-move-anim Главная
							li: a(href="#ask-2").popup-with-move-anim Ассортимент
							li: a(href="/") Адреса магазинов
							li: a(href="/") Акции
							li: a(href="/") Новости
							li: a(href="/") Доставка
						.footer-address
							span.footer-address__title Адреса магазинов:
							ul.footer-address__item
								li ул. Пушкина, д. 3
								li ул. Карла Маркса, д.5, стр.4
								li ул. Карла Маркса, д.5, стр.4
						.footer-callback
							span.footer-callback__worktime Время работы ПН-ВС с 11 до 23 ч.
							span.footer-callback__phone +7 (000) 111-22-33
							a(href="#").footer-callback__mail info@damainame.ru
						.footer-social
							.footer-social-icons
								a(href="#" target="_blank").footer-social__logo.insta
								a(href="#" target="_blank").footer-social__logo.ok
								a(href="#" target="_blank").footer-social__logo.vk
								a(href="#" target="_blank").footer-social__logo.facebook
							.footer-webdev
								img(src="/images/icons/web-studio-logo.png", alt="web-agency-logo")
								span.footer-webdev__text Сайт создан <br> в Hawking Brothers




			// END footer
			// BEGIN popup
			#ask-1.popup.zoom-anim-dialog.mfp-hide
				.popup__title
					span Проверка возраста
				.popup__ask
					span Вам уже есть 18 лет?
				.popup-buttons
					a(href="#").btn.btn--light Да
					a(href="#").btn.btn--light Нет

			#ask-2.popup.zoom-anim-dialog.mfp-hide
				.popup__title
					span Извините, сайт доступен только для совершеннолетних
				.popup__ask
					span Вам уже есть 18 лет?
				.popup-buttons
					a(href="#").btn.btn--light Да
					a(href="#").btn.btn--light Нет

			// END popup
			// BEGIN vendor scripts
			script(src='/vendor/jquery/dist/jquery.min.js')
			script(src='/vendor/swiper/dist/js/swiper.min.js')
			script(src='/vendor/jquery-ui/jquery-ui.min.js')
			script(src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js")
			script(src="/vendor/owl.carousel/dist/owl.carousel.min.js")
			script(src="https://use.fontawesome.com/d419eefe85.js")
			script(src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript")
			// END vendor scripts
			
			// BEGIN common.js
			script(src='/scripts/common.min.js')
			// END common.js
