// header
.header {
  font-family: $font-accent;
  height: 115px;
  position: relative;
  border-bottom: 1px solid #ccc; 
  .wrapper{
  	display: flex; 
  	flex-direction: column;
  	justify-content: flex-end;
		height: 100%;
  }

  &-top{
  	display: flex;
  	justify-content: space-between;
  }

  &-nav {
		display: flex;
		font-size: 27px;
		width: 100%;		
		li{			
			a{
				display: inline-block;
				padding: 0 25px;
				margin-right: 10px;
        transition: all .4s;
        border-bottom: 8px solid transparent;
				&:hover{
					border-bottom: 8px solid $color-accent;
				}
			}
			&:nth-child(3){
				margin-right: 220px;
				min-width: 218px;
			}
			
		}
  }

  &-logo{
  	background:#fff;
  	border-radius: 50%;
  	left: 50%;
  	padding: 30px;
  	position: absolute;
  	top: -7px;
  	transform: translateX(-50%);
    z-index: 3;
  }


  &-worktime {
  	background:url('/images/icons/header-time-icon.png') 0 45% no-repeat;
  	padding-left: 25px;
  	margin-bottom: 15px;
  	font-size: 24px;
  	color: #333;
  	flex-grow: 1;
  }  

  &-social{    
  	margin-right: 48px;
  	&__logo{
      display: inline-block;
      width: 35px;
      height: 35px;
  		margin-right: 20px;
      &.insta{
        background:url('/images/icons/social.png') -105px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -175px 0 no-repeat;
        }
      }
      &.ok{
        background:url('/images/icons/social.png') -210px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -280px 0 no-repeat;
        }
      }
      &.vk{
        background:url('/images/icons/social.png') -315px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') right center no-repeat;
        }
      }

      &.facebook{
        background:url('/images/icons/social.png') left center no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -70px 0 no-repeat;
        }
      }
  	}
  }
  &-phone{
		font-size: 30px;
		color: #333;
  }
}

// breadcrumbs
.breadcrumbs{  
  margin-top: 45px;
  font-size: 13px;  
}

.breadcrumb-inset__link{
  position: relative;
  text-decoration: underline;
  padding-right: 35px;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 19px;
    height: 1px;
    background:$color-accent;
    margin-right: 10px;
  }
}

.breadcrumbs-inset__active{
  color: $color-accent;
}

// pagination

.pagination{
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font: 18px $font-medium;
  color: #666;
}

// .pagination .wrapper{
  
// }

.pagination-inset{
  display: flex;
  align-items: center;
}

.pagination-inset__prev,
.pagination-inset__next{
  display: block;
  width: 56px;
  height: 13px;
  margin: 0 35px;
}

.pagination-inset__prev{
  background:url('/images/icons/pagination-prev.png') center center no-repeat;
  &:hover{
    background:url('/images/icons/pagination-prev-hover.png') center center no-repeat;
  }
}

.pagination-inset__next{
  background:url('/images/icons/link-arrow.png') center center no-repeat;
  &:hover{
    background:url('/images/icons/pagination-next-hover.png') center center no-repeat;
  }
}

.pagination-inset__active{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
  background:$color-accent;
  color: #fff;
}

.pagination-inset__page{
  @extend .pagination-inset__active;
  background:transparent;
  color: #666;
  transition: all .4s;
  &:hover{
    background:$color-accent;
    color: #fff;
  }
}

.pagination-link{
  margin: 0 5px;
}

// footer

.footer{
  position: relative;
  flex-shrink: 0;
  padding: 30px 0 50px;
  background:url('/images/footer-bg.jpg');
  color: #fff;
  &:before{
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    top: -37px;
    left:0;
    background:url('/images/footer-top-bg.png') top center no-repeat;
  }

  &-wrap{
    display: flex;
  }

  &-nav{
    flex-shrink: 0;
    margin: -7px 60px 0 40px;
    font-size: 14px;
    a{
      display: block;
      padding: 3px 18px;
      transition: all .4s;
      border-radius: 6px;
      &:hover{
        color: #fff;
        background:$color-accent;
      }
    }
  }

  &-address{
    margin-right: 70px;
    &__title{
      display: block;
      margin-bottom: 20px;
      font: 30px $font-accent;
    }

    &__item{
      font-size: 16px;
      li{
        margin-bottom: 10px;
        padding-left: 25px;
        background:url('/images/icons/map-icon.png') left center no-repeat;
      }
      
    }
  }

  &-callback{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
    &__worktime{
      display: block;
      padding-left: 25px;
      background:url('/images/icons/footer-time-icon.png') left center no-repeat;
    }

    &__phone{
      display: block;
      margin: 12px 0;
      font-size: 30px;
    }

    &__mail{
      display: block;
      padding-left: 25px;
      font-size: 14px;
      text-decoration: underline;
      background:url('/images/icons/footer-mail-icon.png') left center no-repeat;
    }
  }

  &-social{
    flex-grow: 1;
    &__logo{
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-right: 20px;
      &.insta{
        background:url('/images/icons/social.png') -105px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -140px 0 no-repeat;
        }
      }
      &.ok{
        background:url('/images/icons/social.png') -210px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -245px 0 no-repeat;
        }
      }
      &.vk{
        background:url('/images/icons/social.png') -315px 0 no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -350px 0 no-repeat;
        }
      }

      &.facebook{
        background:url('/images/icons/social.png') left center no-repeat;
        &:hover{
          background:url('/images/icons/social.png') -35px 0 no-repeat;
        }
      }
    }
       
  }

  &-webdev{
    display: block;
    float: right;
    margin-top: 50px;
    &__text{
      display: block;
      font-size: 12px;
      color: #ccc;
      text-align: right;
      line-height: 1.2;
    }
  }


}

// preloader

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

.preloader__spinner{
  width: 160px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background:url('/images/icons/preloader.gif') center center no-repeat;
}